django==2.1.7
feedparser
requests
django-el-pagination
elasticsearch==6.3.1
django-elasticsearch-dsl
nltk
pandas
numpy
scikit-learn
social-auth-app-django
tqdm
django-allauth
psycopg2
djangorestframework
markdown
django-filter
PyGithub
aiohttp
gensim
spacy
coreapi
django-taggit
django-cors-headers
Celery
webpreview
redis
celery[redis]
mixpanel
django-celery-beat
django-model-utils
paypalrestsdk
matplotlib
slugify
selenium