
{% if article.id in lib_articles_ids or is_lib %}

<button class="btn btn-default btn-round donotsave" id="button-{{ article.id }}"
   data-article-id="{{ article.id }}">
<span class="icon">
<i class="material-icons">bookmark</i>
</span>
<span class="text">Saved</span>
</button>

{% else %}
    {% if is_authorised %}
<a class="btn btn-primary btn-round savetolibrary" id="button-{{ article.id }}"
   data-article-id="{{ article.id }}">
<span class="icon">
<i class="material-icons">bookmark</i>
</span>
<span class="text">Save to Library</span>
</a>

{% else %}
<a href="/accounts/login/" class="btn btn-primary btn-round savetolibrary" id="button-{{ article.id }}"
   data-article-id="{{ article.id }}">
<span class="icon">
<i class="material-icons">bookmark</i>
</span>
<span class="text">Save to Library</span>
</a>

{% endif %}
{% endif %}