{% if article.id in lib_articles_ids or is_lib %}
        <button class="btn btn-default btn-round donotsave" id="button-{{ article.id }}"
                data-article-id="{{ article.id }}">
<span class="icon">
        <i class="material-icons">bookmark</i>
    </span>
            <span class="text">Saved</span>
        </button>
    {% else %}
        <button class="btn btn-primary btn-round savetolibrary" id="button-{{ article.id }}"
                data-article-id="{{ article.id }}">
<span class="icon">
  <i class="material-icons">bookmark</i>
    </span>
            <span class="text">Save to Library</span>
        </button>
    {% endif %}