{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if tab != 'other' %}

    <div class="col-md-8 ml-auto mr-auto">
              <div class="page-categories">
{#                <h3 class="title text-center">Page Subcategories</h3>#}
                <br>
                <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
                      <i class="material-icons">info</i> Description
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#link7" role="tablist">
                      <i class="material-icons">info</i> Recommended
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                      <i class="material-icons">location_on</i> Recent
                    </a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                      <i class="material-icons">location_on</i> Popular
                    </a>
                  </li>
                </ul>
{#                <div class="tab-content tab-space tab-subcategories">#}
{#                  <div class="tab-pane active show" id="link7">#}
{#                    <div class="card">#}
{#                      <div class="card-header">#}
{#                        <h4 class="card-title">Description about product</h4>#}
{#                        <p class="card-category">#}
{#                          More information here#}
{#                        </p>#}
{#                      </div>#}
{#                      <div class="card-body">#}
{#                        Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.#}
{#                        <br>#}
{#                        <br> Dramatically visualize customer directed convergence without revolutionary ROI.#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="tab-pane" id="link8">#}
{#                    <div class="card">#}
{#                      <div class="card-header">#}
{#                        <h4 class="card-title">Location of the product</h4>#}
{#                        <p class="card-category">#}
{#                          More information here#}
{#                        </p>#}
{#                      </div>#}
{#                      <div class="card-body">#}
{#                        Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.#}
{#                        <br>#}
{#                        <br> Dramatically maintain clicks-and-mortar solutions without functional solutions.#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}

{#                </div>#}
              </div>
            </div>

{#<div class="row">#}
{#    <div class="col-xl-4 col-md-6 mb-4">#}
{#      {% if tab == 'recommended' %}#}
{#      <div class="card border-bottom-primary shadow h-100 py-2">#}
{#    {% else %}#}
{#      <div class="card shadow h-100 py-2">#}
{#    {% endif %}#}
{#        <div class="card-body">#}
{#          <div class="row no-gutters align-items-center">#}
{#            <div class="col mr-2">#}
{#              <div class="h5 mb-0 font-weight-bold text-gray-800">#}
{#                  <a href="/articles/recommended"><span class="align-middle">Recommended</span></a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="col-auto">#}
{#                <span style="color: #e74a3b;">#}
{#              <i class="fas fa-thumbs-up fa-2x"></i>#}
{#                </span>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#<div class="col-xl-4 col-md-6 mb-4">#}
{#    {% if tab == 'recent' %}#}
{#      <div class="card border-bottom-primary shadow h-100 py-2">#}
{#    {% else %}#}
{#      <div class="card shadow h-100 py-2">#}
{#    {% endif %}#}
{#        <div class="card-body">#}
{#          <div class="row no-gutters align-items-center">#}
{#            <div class="col mr-2">#}
{#              <div class="h5 mb-0 font-weight-bold text-gray-800">#}
{#                  <a href="/articles/recent">Recent</a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="col-auto">#}
{#                <span style="color: #e74a3b;">#}
{#                  <i class="fas fa-chart-line fa-2x"></i>#}
{#                </span>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="col-xl-4 col-md-6 mb-4">#}
{#      {% if tab == 'popular' %}#}
{#      <div class="card border-bottom-primary shadow h-100 py-2">#}
{#    {% else %}#}
{#      <div class="card shadow h-100 py-2">#}
{#    {% endif %}#}
{#        <div class="card-body">#}
{#          <div class="row no-gutters align-items-center">#}
{#            <div class="col mr-2">#}
{#              <div class="h5 mb-0 font-weight-bold text-gray-800">#}
{#                  <a href="/articles/popular">Popular</a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="col-auto">#}
{#                <span style="color: #e74a3b;">#}
{#                  <i class="fab fa-hotjar fa-2x"></i>#}
{#                </span>#}
{#              </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#    </div>#}

{% endif %}

    {% include page_template %}

    {% block js %}
        {{ block.super }}
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>

        <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 20
            });

        </script>


    {% endblock js %}


{% endblock content %}



