{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="article-{{ article.id }}">
   <div class="card shadow mb-4">
      <div class="card-header py-3">
         <div class="row">
            <div class="col-sm-10">
               <h3 class="card-title" style="">{{ article.title }}</h3>
            </div>
            <div class="col-sm-2 text-danger">
               <strong>{{ article.date }}</strong>
               {% include 'articles/utils/more_dropdown.html' %}
            </div>
         </div>
         <div class="row">
            <div class="col-sm-10">
               {% include 'articles/authors_list.html' %}
            </div>
            <div class="col-sm-2">
               {{ article.arxiv_id }} | {{ article.category }}
            </div>
         </div>
      </div>
      <div class="card-body">
         {{ article.abstract }}
         <hr>
         <div class="row form-group">
            <div class="col-sm-10">
               {% include 'articles/buttons/button_read_on_arxiv.html' %}
               {% include 'articles/buttons/button_save_to_lib.html' %}
            </div>
            <div class="col-md-2">
               {% include 'articles/buttons/button_likes.html' %}
            </div>
            <p>
         </div>
      </div>
   </div>
   <p></p>
    <div class="row">
        <div class="col-md-12">
         {% if is_authorised %}
         <div class="card shadow mb-4">
            <div class="card-header card-header-warning card-header-icon">
               <div class="card-icon">
                  <i class="material-icons">comment</i>
               </div>
               <h4 class="card-title">Note</h4>
            </div>
            <!-- Card Body -->
            <div class="card-body">
               <textarea class="form-control  note-area note-form"
                  placeholder="You type, we save..."
                  id="note-{{ article.id }}"
                  data-article-id="{{ article.id }}" rows="3">{{ notes|lookup:article.id }}</textarea>
            </div>
         </div>
         {% endif %}
      </div>
    </div>
   <div class="row">
      <div class="col-md-6">
         {% include 'articles/related_blog_posts.html' %}
      </div>
   </div>
</div>
{% if is_authorised %}
<h1 class="h3 mb-4 text-gray-800">Related Articles</h1>
{% include page_template %}
{% block js %}
{{ block.super }}
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
<script>
   $.endlessPaginate({
       paginateOnScroll: true,
       paginateOnScrollMargin: 20
   });

</script>
{% endblock js %}
{% endif %}
{% endblock %}