{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
{#                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>#}
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                  <a href=""><span class="align-middle">Recommended</span></a>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-bottom-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
{#                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>#}
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                  <a href="">Recent</a>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
{#                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>#}
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                  <a href="">Popular</a>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>

    {% include page_template %}

    {% block js %}
        {{ block.super }}
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>

        <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 20
            });

        </script>


    {% endblock js %}


{% endblock content %}



