{% extends 'base.html' %}

{% load static %}

{% block content %}

{#    <div class="row mb-4">#}
{##}
{#              <div class="col-lg-3 col-md-6 col-sm-6">#}
{#              <div class="card card-stats">#}
{#                <div class="card-header card-header-warning card-header-icon">#}
{#                  <div class="card-icon">#}
{#                    <i class="material-icons">store</i>#}
{#                  </div>#}
{#                  <p class="card-category">Total articles</p>#}
{#                  <h3 class="card-title">{{ n_articles }}#}
{#                  </h3>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                  <div class="stats">#}
{#                    <i class="material-icons">date_range</i>#}
{#                    Added today: n#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-3 col-md-6 col-sm-6">#}
{#              <div class="card card-stats">#}
{#                <div class="card-header card-header-success card-header-icon">#}
{#                  <div class="card-icon">#}
{#                    <i class="material-icons">content_copy</i>#}
{#                  </div>#}
{#                  <p class="card-category">Articles in Library</p>#}
{#                  <h3 class="card-title">{{ n_articles_in_lib }}#}
{#                  </h3>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                  <div class="stats">#}
{#                    <i class="material-icons">date_range</i>#}
{#                    Likes: n#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#          <div class="col-lg-3 col-md-6 col-sm-6">#}
{#              <div class="card card-stats">#}
{#                <div class="card-header card-header-danger card-header-icon">#}
{#                  <div class="card-icon">#}
{#                    <i class="material-icons">content_copy</i>#}
{#                  </div>#}
{#                  <p class="card-category">Articles</p>#}
{#                  <h3 class="card-title">{{ n_articles }}#}
{#                  </h3>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                  <div class="stats">#}
{#                    <i class="material-icons">date_range</i>#}
{#                    Added today: n#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#          <div class="col-lg-3 col-md-6 col-sm-6">#}
{#              <div class="card card-stats">#}
{#                <div class="card-header card-header-info card-header-icon">#}
{#                  <div class="card-icon">#}
{#                    <i class="material-icons">content_copy</i>#}
{#                  </div>#}
{#                  <p class="card-category">Articles</p>#}
{#                  <h3 class="card-title">{{ n_articles }}#}
{#                  </h3>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                  <div class="stats">#}
{#                    <i class="material-icons">date_range</i>#}
{#                    Added today: n#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#          </div>#}


    {% include page_template %}

    {% block js %}
        {{ block.super }}
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>

        <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 20
            });

        </script>


    {% endblock js %}


{% endblock content %}
