<div class="card shadow mb-4">
    <div class="card-header card-header-danger card-header-icon">

        <div class="card-icon">
            <i class="material-icons">library_books</i>
        </div>
        <div class="row">
            <div class="col-sm-12">
                    <h4 class="card-title">Blog posts <a style="color: #4e73df !important;" data-toggle="popover" data-trigger="hover" data-content="Blogposts, that are related to the article. We appreciate if you add one more..."><i class="fas fa-question"></i></a></h4>

            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-10">
            </div>
            <div class="col-sm-2">
                 <button class="btn btn-primary btn-round btn-fab note" type="button" aria-controls="blogpost-collapse-{{ article.id }}"
                            aria-expanded="false"  data-toggle="collapse" data-target="#blogpost-collapse-{{ article.id }}">
                        <i class="fas fa-plus"></i>
                    </button>
            </div>
        </div>


        <div class="collapse" id="blogpost-collapse-{{ article.id }}">
            <div class="col-sm-12">
                <form name="blogPostForm" ng-submit="addBlogPost()" id="blogPostForm" novalidate>
                    <input value="{{ article.id }}" ng-model="newBlogPost.article_id" placeholder="article_id" hidden>

                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Title</label>
                              <input type="text" ng-model="newBlogPost.title" placeholder="Nice blog post about Deep Learning..." class='form-control' />
                          </div>
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">URL</label>
                              <input type="url" placeholder="http://example.com" ng-model="newBlogPost.url" class='form-control' />
                          </div>
                        </div>
                      </div>

                        <div class="card-footer justify-content-center">
                              <button class="btn btn-primary btn-user btn-block" type="submit">Submit</button>
                        </div>
                </form>
              </div>

            <span ng-show="!created" class="text-danger">
                The blog post is already attached...
            </span>
        </div>

    <table class="table">
            <tbody>
                <tr ng-repeat="blogpost in blogposts | orderBy:['-rating', '-title']">
                    <td><a href="{$ blogpost.url $}">
                        <span>
                            {$ blogpost.title$}
                        </span>
                    </a></td>
                    <td class="td-actions text-right">
                        <span class="blogpostrating" id="blogpost-rating-{$ blogpost.id $}">{$ blogpost.rating $}</span>
                        <button type="button" rel="tooltip" title="" ng-click="changBlogPostLike(blogpost)" class="btn btn-primary btn-link" data-original-title="Edit Task">

                        <i class="fas fa-heart blogpostlike" id="blogpost-like-{$ blogpost.id $}" ng-if="blogpost.is_like"></i>
                        <i class="far fa-heart blogpostlike" id="blogpost-like-{$ blogpost.id $}" ng-if="!blogpost.is_like"></i>

                        </button>
                    </td>
                </tr>

                <div ng-show="!blogposts.length">
                    <span>
                        There is no assigned blog posts. Yet...
                    </span>
                </div>

            </tbody>
        </table>


</div>
</div>

{#    </div>#}
{#</div>#}