{% extends 'base.html' %}
{% block page %}
{% for article in articles %}

    {% include 'article_detail.html' %}

{#    <div class="card shadow mb-4">#}
{#                <div class="card-header py-3">#}
{#                  <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'article-detail' article_id=article.id %}">{{ article.title }}</a></h6>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                  {{ article.abstract }}#}
{#                    <div><a href="{% url 'article-detail' article_id=article.id %}">Read on ArXiv</a></div>#}
{#                </div>#}
{##}
{#                </div>#}


{% endfor %}
{%  endblock %}