<!--script>
$(".likehuy").click(function () {
        // console.log('huy');
      var article_id = $(this).attr("data-article-id");
      console.log(article_id);

      $.ajax({
        url: '/articles/like',
          type: 'get',
          data: {
            'article_id': article_id
              // 'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
            console.log(data);
        }
      });

      console.log('huy2');
    });

  </script-->
{##}
{#{% block javascript %}#}
{#    #}
{##}
{#    #}
{#{% endblock %}#}

{% load static %}
{#{% block js %}#}
{##}
{#{% endblock %}#}

    {% load el_pagination_tags %}
    {% paginate articles %}
{% for article in articles %}

    {% include 'article_detail.html' %}


{% endfor %}



    {% show_more %}




