{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>

.stacked-chart path,
.stacked-chart line,
.stacked-chart rect {
    shape-rendering: crispEdges;
}


.stacked-chart text {
    font: 10px sans-serif;
}

.stacked-chart .axis path,
.stacked-chart .axis line {
    fill: none;
    stroke: lightgrey;
    stroke-width: 0.3px;
}

.stacked-chart .layer rect {
    opacity: 0.8;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.stacked-chart .series-label {
    fill: black;
    text-anchor: end;
    alignment-baseline: central;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}


</style>

    <!-- Visualization -->
{#    <script src="{% static 'js/d3.v3.min.js' %}" charset="utf-8"></script>#}
    <script src="{% static 'js/chart.js/Chart.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/visualization.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/d3.v4.min.js' %}" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" crossorigin="anonymous"></script>


    <!-- Content Row -->
          <div class="row mb-4">

              <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">store</i>
                  </div>
                  <p class="card-category">Articles</p>
                  <h3 class="card-title">{{ n_articles }}
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i>
                    Added today: n
                  </div>
                </div>
              </div>
            </div>

{#            <div class="col-lg-3 col-md-6 col-sm-6">#}
{#              <div class="card card-stats">#}
{#                <div class="card-header card-header-success card-header-icon">#}
{#                  <div class="card-icon">#}
{#                    <i class="material-icons">content_copy</i>#}
{#                  </div>#}
{#                  <p class="card-category">Articles in Library</p>#}
{#                  <h3 class="card-title">{{ n_articles_in_lib }}#}
{#                  </h3>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                  <div class="stats">#}
{#                    <i class="material-icons">date_range</i>#}
{#                    Likes: n#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#          <div class="col-lg-3 col-md-6 col-sm-6">#}
{#              <div class="card card-stats">#}
{#                <div class="card-header card-header-danger card-header-icon">#}
{#                  <div class="card-icon">#}
{#                    <i class="material-icons">content_copy</i>#}
{#                  </div>#}
{#                  <p class="card-category">Articles</p>#}
{#                  <h3 class="card-title">{{ n_articles }}#}
{#                  </h3>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                  <div class="stats">#}
{#                    <i class="material-icons">date_range</i>#}
{#                    Added today: n#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#          <div class="col-lg-3 col-md-6 col-sm-6">#}
{#              <div class="card card-stats">#}
{#                <div class="card-header card-header-info card-header-icon">#}
{#                  <div class="card-icon">#}
{#                    <i class="material-icons">content_copy</i>#}
{#                  </div>#}
{#                  <p class="card-category">Articles</p>#}
{#                  <h3 class="card-title">{{ n_articles }}#}
{#                  </h3>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                  <div class="stats">#}
{#                    <i class="material-icons">date_range</i>#}
{#                    Added today: n#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}

          </div>

        {# Categories #}
        <div class="row">
        <div class="col-md-12">
        <div class="card ">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
                      <i class="material-icons">equalizer</i>
                    </div>
            <h4 class="card-title">All Categories</h4>
        </div>
        <div class="card-body">
            <div class="stacked-bar-chart">
                <canvas id="myChart" width="1000" height="500"></canvas>

                <hr>

                <button id="addDataBar" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                    <span class="text">Month</span>
                </button>
                <button id="removeDataBar" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50"><i class="fas fa-minus"></i></span>
                    <span class="text">Month</span></button>
                <script type="text/javascript">
                    chart_bar({{ stacked_bar_chart|safe }}, {{ stacked_bar_chart_full|safe }})
                </script>
            </div>
        </div>
        </div></div></div>

        {# Categories D3 #}
        <div class="row">
        <div class="col-md-12">
        <div class="card ">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
                      <i class="material-icons">equalizer</i>
                    </div>
            <h4 class="card-title">All Categories</h4>
        </div>
        <div class="stacked-chart-container js-stacked-chart-container">
          <form>
            <label><input type="radio" name="mode" value="percent"> Percent</label>
            <label><input type="radio" name="mode" value="grouped"> Grouped</label>
            <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
          </form>
          <svg class="stacked-chart js-stacked-chart"></svg>
          <script type="text/javascript">
            chart_bar_d3({{ stacked_bar_chart|safe }})
          </script>
        </div>
    </div>
</div>

        </div>

    {# Trends #}
    <div class="row">
<div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
                      <i class="material-icons">equalizer</i>
                    </div>
            <h4 class="card-title">Trends</h4>
        </div>
            <div class="card-body">
                <div class="trend-chart">
                    <div class="input-group">
                        <input id="trend-input" type="text" class="form-control bg-light border-0 small"
                               placeholder="Machine Learning, Neural Networks, Computer Vision, Deep Learning"
                               aria-label="Search" aria-describedby="basic-addon2" value="{{ keywords_raw }}">
{#                        <div class="input-group-append">#}
                            <button class="btn btn-primary trendbutton" id="trend-button" type="button" onclick="">
                                <i class="fas fa-search fa-sm"></i>
                                <span>Update</span>
                            </button>
{#                        </div>#}
                    </div>

                    <canvas id="Trends" width="1000" height="500"></canvas>

                    <hr>

                    <button id="addData" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                        <span class="text">Month</span>
                    </button>
                    <button id="removeData" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-minus"></i></span>
                        <span class="text">Month</span></button>
                    <script type="text/javascript">
                        trend_line({{ trend_data|safe }}, {{ trend_data_full|safe }})
                    </script>

                </div>
            </div>
        </div>
</div>
    </div>


{% endblock content %}



