<div class="sidebar" data-color="blue" data-background-color="white" >

      <div class="logo">
        <a href="http://www.mlprior.com" class="simple-text logo-normal">
          ML p(r)ior
        </a>
      </div>
      <div class="sidebar-wrapper" id="main-navbar">
        <ul class="nav navbar-nav" >
          <li class="nav-item {% if page_id == 'home' %}active{% endif %}">
            <a class="nav-link" href="/home/">
              <i class="material-icons">dashboard</i>
              <p>Home</p>
            </a>
          </li>
          <li class="nav-item {% if page_id == 'articles' %}active{% endif %}">
            <a class="nav-link" href="/articles/recommended">
              <i class="material-icons">dns</i>
              <p>Articles</p>
            </a>
          </li>
          <li class="nav-item {% if page_id == 'library' or page_id == 'liked' or page_id == 'disliked' %}active{% endif %}">
            <a class="nav-link" href="/articles/library">
              <i class="material-icons">bookmarks</i>
              <p>Library</p>
            </a>
          </li>
        </ul>
      </div>
    </div>