<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          ML Prior
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/home">
              <i class="material-icons">dashboard</i>
              <p>Home</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/articles/recommended">
              <i class="material-icons">person</i>
              <p>Articles</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/articles/library">
              <i class="material-icons">content_paste</i>
              <p>Library</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/articles/liked">
              <i class="material-icons">library_books</i>
              <p>Liked</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/articles/disliked">
              <i class="material-icons">bubble_chart</i>
              <p>Disliked</p>
            </a>
          </li>


        </ul>
      </div>
    </div>