

<div id="article-{{ article.id }}">


<div class="card shadow mb-4">
   <div class="card-header py-3">
      <div class="row">
         <div class="col-sm-10">
            <h6 class="m-0 font-weight-bold text-primary h4">{{ article.title }}</h6>
         </div>
         <div class="col-sm-2">{{ article.arxivid }} | {{ article.category }}</div>
      </div>
       <div class="row col-sm-10">
           <div class="h7 pl-3 pt-2 font-weight-bold text-gray-800">{{ article.authors.all | join:", " }}</div>
       </div>
   </div>
   <div class="card-body">

      {{ article.abstract }}
      <hr>
      <div class="row form-group">
{##}
{#<div class="btn-toolbar">#}

      <div class="col-sm-10">

          <a href="/articles/details/{{ article.id }}" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
            <i class="fas fa-info-circle"></i>
            </span>
            <span class="text">Details</span>
            </a>

             <a href="{{ article.url }}" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
            <i class="fas fa-archive"></i>
            </span>
            <span class="text">Read on ArXiv</span>
            </a>

{#</div>#}

{#      <div class="col-sm-3">#}
          {% if is_lib %}
                    <button class="btn btn-danger btn-icon-split removefromlibrary" id="button-{{ article.id }}" data-article-id="{{ article.id }}">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Remove</span>
                    </button>
          {% else %}
              {% if article in user_articles %}
                   <button class="btn btn-secondary btn-icon-split donotsave" id="button-{{ article.id }}" data-article-id="{{ article.id }}">
                  <span class="icon text-white-50">
                            <i class="fas fa-bookmark"></i>
                        </span>
                        <span class="text">Saved</span>
                    </button>
                  {% else %}
                    <button class="btn btn-primary btn-icon-split savetolibrary" id="button-{{ article.id }}" data-article-id="{{ article.id }}">
                  <span class="icon text-white-50">
                            <i class="fas fa-bookmark"></i>
                        </span>
                        <span class="text">Save to Library</span>
                    </button>
              {% endif %}
          {% endif %}
{#      </div>#}

{#      <div class="col-sm-3">#}
                    <button class="btn btn-warning btn-icon-split note" type="button" aria-controls="collapseUtilities" aria-expanded="false" data-toggle="collapse" data-target="#note-collapse-{{ article.id }}">
                        <span class="icon text-white-50">
                            <i class="fas fa-comment"></i>
                        </span>
                        <span class="text">Note</span>
                    </button>
{#         </div>#}
      </div>

         <div class="col-sm-2"><strong>{{ article.date }}</strong></div>
      </div>
          <p>

   <div class="collapse article-note" id="note-collapse-{{ article.id }}">
       {% include 'article_note.html' %}

    </div>


   </div>
</div>

</div>